[Unit]
Description=<description of code>
After=syslog.target network.target
[Service]
Type=simple
ExecStart=/usr/bin/startup.sh
[Install]
WantedBy=multi-user.target
